*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.container{
    display: flex;
    overflow: auto;
    height: 100vh;
}

.sidebar{
    position: sticky;
    top: 8px;
    height: 100%;
    width: 200px;
    font-size: 15px;
    padding: 6% 4%;
}
ul{
    list-style: none;
}
.sidebar li{
    margin: 15px 0;
}
.sidebar a{
    text-decoration: none;
    color: black;
}
.sidebar a:hover{
    color: blue;
}
.content{
    flex-grow: 1; /* This will make the content div to take the remaining space */
    padding-right:20%;
    padding-left:8%;
    
}
.name{
    text-align: left;
    margin-bottom: 3%;
}
.section{
    margin:3% 0;
}
.section-title{
    font-size: 20px;
}
.section-content{
    font-size: 16px;
    margin: 3% 0;
}
.section li{
    margin: 1%;
    text-decoration: none;
}
.section a{
    color: gray;
}
hr{
    border: none;    
    background-color: lightgray;
    height: 2px;
}
i{
    font-size: smaller;
}
.profile{
    height: 100px;
    width:100px;
    overflow:hidden;
    object-fit: cover;
}
.top-image{
    height: 250px;
    width: 34vw;
    object-fit: cover;
    overflow: hidden;
    margin-left: 0;
    display: block;
}
.top-bar{
    height: 35px;
}
.top-container{
    display: flex;
    gap: 0;
    margin: auto;
}
.job-title{
    color: gray;
}